body {
  margin: 0;
  padding: 0;
}

.header {
    background-color: #080808;
    color: #fff;
  }

  .header p {
    float: left;
    display: inline-block;
    padding: 1vh 0 0 30px;
    font-family: 'vikingregular', sans-serif;
    color:#c5be80;
    text-shadow: 2px 2px 4px #444444; 
    font-size: 1.5vw;
  }
  
  .header-nav {
    float: right;
    padding: 1vh 30px 0 0;
  }
  .header-nav > li {
    display: inline-block;
    margin-left: 1em;
  }   
  .header-nav > li ~ li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
  }
  .header-nav a {
    color: #c5be80;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
  }
  .header-nav a:hover,
  .header-nav a:active {
    color: #000000;
  }
  .header-nav > li:first-child a {
    color: #c5be80;
  }
  .header-nav > li:first-child a:hover {
    color: #000000;
  }

  .header-logo {
    background-color: ;
    box-sizing: border-box;
    display: block;
    height: vh;
    margin-left: auto;
    margin-right: auto;
    /*
    padding-top: 10px;
    padding-left: 10px;
    */
    position: relative;
    text-align: center;
    width: 20vh;
  }
  .header-logo img {
    width: 20vh;
  }

.full-hero {
    background-color: #c7dbfc;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 10vh;
}

.hero-home {
    background-image: url("../images/pyserker_website_bg.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center top;
}

.hero-content {
    color: #fff;
    position: relative;
    text-align: center;

}

.hero-content h1 {
    font-family: 'vikingregular', sans-serif;
    color:#c5be80;
    text-shadow: 2px 2px 4px #444444; 
    font-size: 3vw;
}