
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #030303;
    background-image: url("../images/pyserker_website_bg.jpeg");
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    display: grid;
    grid-template-columns: 20rem 1fr 20rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header nav"
        "sidbar1 content sidebar2"
        "footer footer footer";
    min-height: 100vh;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

.header-nav {
    float: right;
    padding: 1vh 30px 0 0;
  }
  .header-nav > li {
    display: inline-block;
    margin-left: 1em;
  }   
  .header-nav > li ~ li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
  }
  .header-nav a {
    color: #c5be80;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
  }
  .header-nav a:hover,
  .header-nav a:active {
    color: #000000;
  }
  .header-nav > li:first-child a {
    color: #c5be80;
  }
  .header-nav > li:first-child a:hover {
    color: #000000;
  }
  .parent {
    position: relative;
    top: 0;
    left: 0;
  }

  .title_h1 {
    font-family: 'vikingregular', sans-serif;
    color:#c5be80;
    text-shadow: 2px 2px 4px #444444; 
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image1 {
    position: relative;
    top: 19vh;
    
    
  }
  .image2 {
    position: relative;
    top: 1vh;
    
    
    
  }

  .fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0;}
  100% { opacity: 1; }
}

.logospin {
  animation: logospin 4s;
}

@keyframes logospin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

  .header-logo {
    box-sizing: border-box;
    display: block;
    height: vh;
    margin-left: auto;
    margin-right: auto;
    /*
    padding-top: 10px;
    padding-left: 10px;
    */
    position: relative;
    text-align: center;
    width: 21vh;
  }

  .py-logo {
    box-sizing: border-box;
    display: block;
    height: vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 
    position: absolute;
    text-align: center;
    width: 13vh;
  }

main {
    grid-area: content;
}

aside {
    grid-area: sidebar1;
}

menu {
    grid-area: sidebar2;

}

footer {
    grid-area: footer;
}
footer p {
    display: flex;
    color: #c5be80;
    align-items: center;
    justify-content: center;
    
}

.site_info {
    background-color: #00040790;
    border-radius: 10px;
    color: #c5be80;
    margin: 4em 0;
    padding: 2em 2em;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto) auto;
        grid-template-areas:
            "header"
            "nav"
            "content"
            "sidebar1"
            "sidebar2"
            "footer";
    }
}