html {
  height: 100%
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
    background-color: #080808;
    color: #fff;
  }
  
  .header-nav {
    float: right;
    padding: 1vh 30px 0 0;
  }
  .header-nav > li {
    display: inline-block;
    margin-left: 1em;
  }   
  .header-nav > li ~ li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
  }
  .header-nav a {
    color: #c5be80;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
  }
  .header-nav a:hover,
  .header-nav a:active {
    color: #000000;
  }
  .header-nav > li:first-child a {
    color: #c5be80;
  }
  .header-nav > li:first-child a:hover {
    color: #000000;
  }

  .header-logo {
    box-sizing: border-box;
    display: block;
    height: vh;
    margin-left: auto;
    margin-right: auto;
    /*
    padding-top: 10px;
    padding-left: 10px;
    */
    position: relative;
    text-align: center;
    width: 20vh;
  }

  .py-logo {
    box-sizing: border-box;
    display: block;
    height: vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 
    position: absolute;
    text-align: center;
    width: 10vh;
  }

.full-hero {
    background-color: #c7dbfc;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 10vh;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 8vh;
  
  
}
.image2 {
  position: absolute;
  top: 2.5vh;
  
  
  
}

.hero-home {
    background-image: url("../images/pyserker_website_bg.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center top;
}

.hero-content {
    color: #fff;
    position: relative;
    text-align: center;

}

.hero-content h1 {
    font-family: 'vikingregular', sans-serif;
    color:#c5be80;
    text-shadow: 2px 2px 4px #444444; 
    font-size: 3vw;
}


.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0;}
  100% { opacity: 1; }
}

.logospin {
  animation: logospin 4s;
}

@keyframes logospin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

